
abaqus.*

KK.dat

*.dat

*.com

*.jnl

*.log

*.msg

*.odb

*.prt

*.sim

*.sta

*.dmp

*.ipm

*.lck

*.rec

*.SMABulk

*.023

*.mdl

*.res

*.stt

*.odb_f

UMAT.simdir/

*.cid

*.simlog

*.inp

*.out

RVE_1_1_restart_1.inp

fort.7
test-z.simdir/test-z.1.SMAFocus
